<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104526349380-6tv0m5ob3fbu0p7n21qu6ojs4om7tsp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104526349380-6tv0m5ob3fbu0p7n21qu6ojs4om7tsp0</string>
	<key>API_KEY</key>
	<string>AIzaSyDuEYhg4TPQuf16s-NOIwbJK13UQfuGUqk</string>
	<key>GCM_SENDER_ID</key>
	<string>104526349380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.brent</string>
	<key>PROJECT_ID</key>
	<string>loop-ed291</string>
	<key>STORAGE_BUCKET</key>
	<string>loop-ed291.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104526349380:ios:2c2bcad8ebbf613944a811</string>
</dict>
</plist>